@import url("./__element/loader__element.css");
/* @import url("./__element/_is-hidden/loader__element_is-hidden.css"); */
@import url("./__error/loader__error.css");
@import url("./__error-text/loader__error-text.css");
@import url("./__error-code/loader__error-code.css");
@import url("./__button/loader__button.css");
@import url("./_is-loading/loader_is-loading.css");
@import url("./_is-error/loader_is-error.css");

.loader {
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	min-height: 128px;
}
